<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MAIN_DBCONN" connectionString="Data Source=MrDuy-PC;Initial Catalog=Cashier;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
