@model SMS.MvcApplication.Models.SearchPopupModel

<div title="@Model.PopupTitle" id="@Model.PopupId" class="hide">
    <form onkeypress="return event.keyCode != 13;">
        <input type="hidden" class="lastTextSearch" name="lastTextSearch" />
        <div class="searchDiv">
            <input type="text" name="textSearch" class="textSearch" tabindex="1" />
            <input type="button" class="button popupSearch"  value="Search" />
        </div>
        <div id="scroll_box">
            <table class="tableContent" id="searchProduct">
                <colgroup>
                    <col class="col1" />
                    <col class="col2" />
                    <col class="col3" />
                    <col class="col4" />
                    <col class="col5" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>QTY</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="tbContentLookup">
                </tbody>
            </table>
            <table class="listLookupEmpty">
                <tr>
                    <td style="width: auto; background-color: #ffffff;">No product available
                    </td>
                </tr>
            </table>
        </div>
        <div class="right totalRecords">
            Total: <span id="total"></span> record(s).
        </div>

        <div class="right">
            @*<input type="button" class="button popupSelect" value="Select" />*@
            <input type="button" class="button popupClose" value="Close" />
        </div>
    </form>
</div>

<script src="@Url.Content("~/Scripts/popup.js")"></script>
<script id="popup-content-@Model.PopupId" type="text/x-jquery-tmpl">  
    <tr>
        <td>${ProductCode}</td>
        <td>${VNName}</td>
        <td class="right">${Price} VNĐ</td>
        <td class="right"><input type="text" value="1" name="qty-${ID}" id="qty-${ID}" class="inputQty digits" tabindex="${tabIdx}" /></td>
        <td class="center"><input type="button" class="button popupSelect" id="select-${ID}" value="Select" tabindex="${tabIdx + 1}" /></td>
    </tr>
</script>
<script>
    $('#@Model.PopupId .textSearch, #@Model.PopupId .popupSearch').keypress(function (e) {
        if (e.which == 13) {
            $('#@Model.PopupId .popupSearch').trigger('click');
        }
    });
</script>