@model SMS.MvcApplication.Models.PopupModel
<div id="@Model.PopupID" title="@Model.PopupTitle" class="hide move-table-popup">
    <div class="popup-content">
        <form>
            <table id="chooseTable" class="display">
                <thead>
                    <tr>
                        <th>Table name</th>
                        <th>Area name</th>
                    </tr>
                </thead>
                <tbody id="destination-table">
                </tbody>
            </table>
        </form>
    </div>
    <div class="right">
        <button class="popupClose">Close</button>
    </div>
</div>
<script src="@Url.Content("~/Scripts/destination-table-popup.js")"></script>
<script id="destination-table-tmpl" type="text/x-jquery-tmpl">
    {{each(idx) Data}}
    <tr>
        <td><span id="table-${Table.ID}" class="link-label label-custom-label">${Table.Name}</span></td>
        <td>${Table.Area.Name}</td>
    </tr>
    {{/each}}
</script>
