@model SMS.MvcApplication.Models.PopupModel
<div id="@Model.PopupID" title="@Model.PopupTitle" class="hide">
    <div class="buttons">
        <input type="button" class="myButton" value="Save" id="multi-edit-label-save" />
        <input type="button" class="myButton" value="Cancel" id="multi-edit-label-cancel" />
    </div>
    <table>
        <thead>
            <tr>
                <td>No</td>
                <td>Label ID</td>
                <td>VNText</td>
                <td>EnText</td>
            </tr>
        </thead>
        <tbody id="label-dictionary">
            
        </tbody>
    </table>
</div>
<script id="multi-edit-label-item-tmpl" type="text/x-jquery-tmpl">
    {{each(idx) ListLabels}}
    <tr>
        <td>${idx + 1}</td>
        <td class="page-label-id">${LabelID}</td>
        <td><input class="page-label-vn" type="text" value="${VNText}"/></td>
        <td><input class="page-label-en" type="text" value="${ENText}"/></td>
    </tr>
    {{/each}}
</script>