<div title="" id="popup" class="hide" onkeypress="return event.keyCode != 13;">
    <table>
        <tr>
            <td id="popup-icon"></td>
            <td id="popup-message"></td>
        </tr>
    </table>

    <div class="right" id="popup-button">
    </div>
</div>

<script src="@Url.Content("~/Scripts/message-popup.js")"></script>
