@model SMS.MvcApplication.Models.PopupModel
<div id="@Model.PopupID" title="@Model.PopupTitle" class="hide">
    <div class="buttons">
        <input type="button" class="button" value="Print" id="print-button" />
    </div>
    <div class="popup-content print-content">
        
    </div>
</div>
<script src="@Url.Content("~/Scripts/print-preview-popup.js")"></script>