@model SMS.MvcApplication.Models.PopupModel
<div id="@Model.PopupID" title="@Model.PopupTitle" class="hide">
    <table>
        <tr>
            <td>
                alksd kasjdl
                <a href="javascript:window.print()">print</a>
            </td>
        </tr>
    </table>
</div>
<script src="@Url.Content("~/Scripts/print-preview-popup.js")"></script>