@model SMS.MvcApplication.Models.PopupModel

<div title="@Model.PopupTitle" id="@Model.PopupID" class="hide product-search-popup">
    <div class="popup-content">
        <form>
            <table id="searchProduct">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>QTY</th>
                    </tr>
                </thead>
                <tbody class="tbContentLookup">
                </tbody>
            </table>
        </form>
    </div>
    <div class="right">
        <button class="popupRefresh">Refresh</button>
        <button class="popupClose">Close</button>
    </div>
</div>

<script src="@Url.Content("~/Scripts/search-product-popup.js")"></script>
<script id="popup-content-@Model.PopupID" type="text/x-jquery-tmpl">
    {{each(idx) ListProduct}}
    <tr id="item-${ID}">
        <td><span id="productCode-${ID}" class="link-label label-custom-label">${Code}</span></td>
        <td>${Name}</td>
        <td>${CategoryName}</td>
        <td class="right">${Price.formatAsMoney()}</td>
        <td class="right">
            <input type="text" value="1" name="qty-${ID}" id="popup-qty-${ID}" class="inputQty number required" tabindex="${tabIdx}" /></td>
    </tr>
    {{/each}}
</script>
