@media only print
{
    /*Reset Style*/
    body {
        margin:0; 
        padding:0; 
        line-height: 1.4em; 
        word-spacing:1px; 
        letter-spacing:0.2px; 
        font: 13px Arial, Helvetica,"Lucida Grande", serif; 
        color: #000;
    }
    
    body > * { display: none; }

    div[aria-describedby="pdtPayment"] {
        display: block !important;
        top: 0 !important;
        left: 0 !important;
        border: none !important;
        overflow: hidden !important;
    }

    div[aria-describedby="pdtPayment"] .ui-dialog-titlebar, #print {
        display: none;
    }

    #pdtPayment .payment-config {
        display: none;
    }

    #pdtPayment {
        height: auto !important;
        overflow: hidden !important;
    }

    #pdtPayment .payment-content, #pdtPayment .payment-content .leftContent{
        height: auto !important;
        width: auto !important;
        overflow: hidden !important;
    }

    div[id="pdtPayment"] .page, #pdtPayment .page table {
        overflow: hidden !important;
        height: auto !important;
        width: auto !important;
        padding: 0;
        margin: 0;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
}

@page {
    size: auto;
    margin: 0;
}