<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/default.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/rollover.js" >
</script>
<title>Untitled Document</title>
</head>

<body>
	<!-- Begin wrapper_shadow -->
	<div id="wrapper_shadow">
    	<!-- Begin wrapper -->
    	<div id="wrapper">
        	<!-- Begin header -->
            <div id="header">
                <img src="images/templates/default/pic.png" />
                <!-- Begin nav -->
                <div id="nav">
                	<a href=""><img src="images/templates/default/nav_bar/home_off.png" alt="home" /></a>
	                <ul>
                        <li><a href="gioithieu.html">Giới thiệu</a></li>
                        <li><a href="batdongsan.html">Bất động sản</a></li>
                        <li><a href="tintuc.html">Tin tức</a></li>
                        <li><a href="dichvu.html">Dịch vụ</a></li>
                        <li><a href="tuvan.html">Tư vấn</a></li>
                        <li><a href="lienhe.html">Dịch vụ</a></li>
                        <li class="end_menu"><a>&nbsp;</a></li>
                    </ul>
                </div>
                <!-- End nav -->
            </div>
            <!-- End header -->
            
            <div id="content">
            	<div id="new_pj"></div>
                <div id="top_news"></div>
            </div>
        </div>
        <!-- End wrapper -->
    </div>
    <!-- End wrapper_shadow -->
</body>
</html>
