@charset "utf-8";
/* CSS Document */
/* Created by LamVu */

#nav{
	margin:3px 0 0 0;
	background:url(../../images/templates/default/nav_bar/end_nav.png) right 0 repeat-y;
	float:left;
}
#nav img{
	float:left;
}
#nav ul{
	margin:0 0 0 45px;
	height:35px;
	width:100%;
	background:url(../../images/templates/default/nav_bar/bg.png) repeat-x;
}
#nav ul li{
	float:left;
	text-align:center;
}
#nav ul li:hover{
	background:url(../../images/templates/default/nav_bar/bg_hover.png) repeat-x;
}
#nav ul li a{
	display:block;
	min-width:130px;
	background:url(../../images/templates/default/nav_bar/seperator.png) left 1px repeat-y;
}
.end_menu:hover{
	background:none !important;
}