@charset "utf-8";
/* CSS Document */
/* Created by LamVu */

#sidebar .section .title{
	background:url(../../images/templates/default/sidebar/sec_title.png) no-repeat;
	height:39px;
	padding-left:15px;
}

#sidebar .section .body{
	background:url(../../images/templates/default/sidebar/sec_body.png) repeat-y;
	padding:5px 30px 5px 20px;
}

#sidebar .section .bottom{
	background:url(../../images/templates/default/sidebar/sec_bottom.png) no-repeat;
	height:15px;
	margin-bottom:3px;
}

#sidebar table{
	width:190px;
}
colgroup#section2 .col1{
	width:20%;
}
colgroup#section2 .col2{
	width:40%;
}
colgroup#section2 .col3{
	width:40%;
}
#sidebar table th, #sidebar table td{
	padding:1px 5px;
}
#sidebar table td{
	text-align:right;
}
#sidebar table th{
	background:#fee7d8;
}
colgroup#section3 .col1{
	width:40%;
}
colgroup#section3 .col2{
	width:60%;
}