@charset "utf-8";
/* CSS Document */
/* Created by LamVu */

#wrapper_shadow{
	background:url(../../images/templates/default/wrapper_shadow.png) repeat-y;
	margin:auto;
	width:1042px;
	height:1200px;
}

#wrapper{
	background:white;
	margin:auto;
	width:1000px;
	height:1200px;
}

#header{
	height:300px;
}

#content{
	width:750px;
	float:left;
	height:500px;
	margin:3px 0 0 5px;
}

#sidebar{
	width:240px;
	float:right;
	height:500px;
	margin:3px 5px 0 0;
}