@charset "utf-8";
/* CSS Document */
/* Created by LamVu */
a{
	text-decoration:none;
	color:inherit;
}

#nav a{
	color:#eee;
	font-weight:bold;
	line-height:35px;
}
#nav a:hover{
	color:#fff;
}

p.section_title{
	color:#8d1632;
	font-size:120%;
	font-weight:bold;
}
p.section_title a:hover{
	text-decoration:none !important;
}
#infopj .title
{
	color:Red;
	font-size:140%;
	font-weight:bold;
}
#infopj .summary
{
	color:Red;
}

#top_news .section_body a{
	font-size:90%;
	color:#888;
	font-weight:bold;
}
#top_news a:hover{
	color:#555;
	text-decoration:underline;
}
#sidebar .section .body{
	text-align:justify;
}
#sidebar table th{
	font-size:80%;
	color:#105290;
}
#sidebar table td{
	font-size:80%;
	color:#555;
	font-weight:bold;
}

.info{
	text-align:right;
	font-size:80%;
	font-style:italic;
	color:#777;
}

.func{
	text-align:right;
	font-style:italic;
	color:#09C;
}

.func a:hover
{
	color:#077;
}

#content .article_title
{
	font-size:130%;
	font-weight:bold;
}
#content .article_summary
{
	font-size:90%;
	font-weight:bold;
	color:#666;
}

#content .info2
{
	color:#D23;
	font-weight:bold;
}

#content .tbl_2 a:hover{
	color:#555;
	text-decoration:underline;
}

#footer
{
	color:#FFF;
	text-align:right;
	font-weight:bold;
}
#sendques p
{
	text-align:center;
	color:#8d1632;
	font-size:110%;
	font-weight:bold;
}
#sendques p.information
{
	text-align:center;
	color:#09C;
	font-size:90%;
	font-weight:normal;
}
.tbl_ques th
{
	text-align:left;
}
.tbl .title, .partnername
{
	color:#215d93;
	font-size:110%;
	line-height:35px;
	font-weight:bold;
}
.tbl_house a
{
	font-weight:bold;
}
.tbl_house .price
{
	color:#eee;
	
}
.title_house
{
	font-weight:bold;
	color:#eee;
}
.viewcount
{
	padding-left:15px;
	color:#eee;
}
ul.menuacc
{
	font-weight:bold;
	font-size:90%;
}

ul.menuacc a:hover
{
	text-decoration:underline;
	color:#777;
}
.lstPartner
{
	font-weight:bold;
	color:#555;
}
.lstPartner a:hover
{
	text-decoration:underline;
	color:#333;
}