header {
    border-bottom: 1px solid #ddd;
}

header #logo {
    width: 200px;
    float: left;
}

header #login {
    float: right;   
}

#leftmenu {
    width: 14%;
    float: left;
    position: relative;
}

#leftmenu nav {
    padding-left: 15px;
    
}
#expander {
    position: absolute;
    right: 0;
    top: 0;
}

#body {
    width: 85%;
    float: right;
    border-left: 1px solid #ddd;
    padding: 10px 0 10px 0;
}