header {
    border-bottom: 1px solid #ddd;
}

header #logo {
    width: 200px;
    float: left;
}

header #login {
    float: right;   
}

#leftmenu {
    width: 14%;
    float: left;
}

#body {
    width: 85%;
    float: right;
    border-left: 1px solid #ddd;
    padding: 10px 0 10px 0;
}