header
{
    border-bottom: 1px solid #ddd;
}

    header #logo
    {
        width: 200px;
        float: left;
    }

    header #login
    {
        float: right;
    }

#leftmenu
{
    width: 13%;
    float: left;
    overflow: hidden;
}

    #leftmenu nav
    {
        padding-left: 15px;
    }

#leftmenuExpander {
    width: 1%;
    float: left;
}

#body
{
    width: 85%;
    float: right;
    border-left: 1px solid #ddd;
}

#cashier
{
    min-height: 450px;
}

#tablelist
{
    bottom: 50%;
    margin-bottom: 5px;
    min-height: 135px;
}

.split-pane-divider
{
    bottom: 50%;
    height: 5px;
    background: #aaa;
}

#tableorder
{
    height: 50%;
    min-height: 100px;
}
