@charset "utf-8";
/* CSS Document */
/* Created by LamVu */

#new_pj{
	width:435px;
	height:300px;
	border:thin solid red;
	float:left;
}
#top_news{
	background:url(../../images/templates/default/top_news/bg.png) no-repeat;
	float:right;
	width:310px;
	height:310px;
}
.section_content{
	margin:auto;
	padding:1px 15px 15px 15px;
}
p.section_title{
	float:left;
	padding:10px 0 0 10px;
}
.section_body{
	padding:10px 0 0 10px;
}
img.icon{
	float:left;
}
#top_news ul li{
	padding-bottom:10px;
}

#content .top{
	background:url(../../images/templates/default/content/top.png) no-repeat;
	height:40px;
	padding-left:20px;
}
#content .mid{
	background:url(../../images/templates/default/content/body.png) repeat-y;
	padding:5px 30px 5px 25px;	
}
#content .bot{
	background:url(../../images/templates/default/content/bot.png) no-repeat;	
	height:17px;
}

.QA .QA_top{
	background:url(../../images/templates/default/QA/top.png) no-repeat;
	height:10px;
}
.QA .QA_mid{
	background:url(../../images/templates/default/QA/body.png) repeat-y;
	padding:5px 20px;
}
.QA .QA_bot{
	background:url(../../images/templates/default/QA/bot.png) no-repeat;	
	height:10px;
}
.QA .separator
{
	background:url(../../images/templates/default/QA/separator.png) repeat-x;	
	height:2px;
	margin:10px 0;
}
.QA .A
{
	display:none;
}

.QA .func a
{
	cursor:pointer;
}