@using SMS.Data.Dtos
@model SMS.MvcApplication.Models.AdminModel<SystemInfomationDto>
@{
    ViewBag.Title = "Index";
}

<div id="content">
    <div class="row system-infomation">
        <fieldset class="fieldset-boder">
        <legend>System infomation</legend>    
            <table class="no-border">
                @foreach (var dto in Model.ListRecord)
                {
                    <tr>
                        <td>@dto.Name</td>
                        <td>@dto.Value</td>
                    </tr>
                }
            </table>
        
        </fieldset>
    </div>
</div>
