@charset "utf-8";
/* CSS Document */
/* Created by LamVu */

@import "default/styles.css";
@import "default/header.css";
@import "default/content.css";
@import "default/fonts.css";

body{
	background:url(../images/templates/default/body_bg.png) repeat-x fixed;
	margin:0;
}

html {
	color: #000;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, table, tr, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}
fieldset, img {
	border: 0;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
	line-height: 1.0;
	margin:0;
	padding:0;
}
q:before, q:after {
	content: '';
}
/*because legend doesn't inherit in IE */
legend {
	color: #000;
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {
*font-size: 100%;
}
/* Setting
------------------------------------------------------------------------*/
th, td {
	border: 1px solid #999;
	padding: .5em;
}
th {
	font-weight: bold;
	text-align: center;
}
caption {
	padding-bottom: .5em;
	text-align: right;
}
.clear {
	clear: both;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}