@model SMS.MvcApplication.Models.PopupModel
<div id="@Model.PopupID" title="@Model.PopupTitle" class="hide edit-label-popup">
    <div class="popup-content">
        <table id="editLabel" class="display">
            <thead>
                <tr>
                    <th>Label ID</th>
                    <th>Vietnamese</th>
                    <th>English</th>
                </tr>
            </thead>
            <tbody id="label-dictionary">
                
            </tbody>
        </table>
    </div>
    <div class="popup-buttons right">
        <button id="multi-edit-label-save">Save</button>
        <button id="multi-edit-label-cancel">Cancel</button>
    </div>
</div>
<script id="multi-edit-label-item-tmpl" type="text/x-jquery-tmpl">
    {{each(idx) Data}}
    <tr>
        <td class="page-label-id">${LabelID}</td>
        <td><input class="page-label-vn" type="text" value="${VNText}"/></td>
        <td><input class="page-label-en" type="text" value="${ENText}"/></td>
    </tr>
    {{/each}}
</script>