<div title="" id="popup" class="hide" onkeypress="return event.keyCode != 13;">
    <div id="popup-message"></div>

    <div class="right" id="popup-button">
    </div>
</div>

<script src="@Url.Content("~/Scripts/message-popup.js")"></script>
