@model SMS.MvcApplication.Models.PrintPreviewModel
<div id="invoicePreview" title="Invoice Preview">
    <table>
        <tr>
            <td>
                alksd kasjdl
                <a href="javascript:window.print()">print</a>
            </td>
        </tr>
    </table>
</div>
<script src="@Url.Content("~/Scripts/print-preview-popup.js")"></script>
