<div class="ajax-loader-mask">
    <div class="ajax-loader">
        <img src="~/Content/Images/ajax-loader.gif" alt="ajax loader" />
    </div>
</div>
<link rel="stylesheet" href="~/Content/css/ajax-loader.css"/>
<script src="~/Scripts/app.ajax-loader.js"></script>