<div id="content">
    <!--[if lt IE 9]><script type="text/javascript" src="~/Scripts/flot/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="~/Scripts/flot/jquery.flot.min.js"></script>
    <div class="row">
        <fieldset style="padding: 10px 10px; margin: 10px 0px">
            <legend></legend>
            <table class="no-border" style="width: auto">
                <tr>
                    <td>Report type</td>
                    <td>
                        <select id="reportType">
                            <option value="usp_s_getInvoice">Doanh thu theo ngày</option>
                            <option value="usp_s_getInvoice1">Doanh thu theo tháng</option>
                            <option value="usp_s_getInvoice2">Doanh thu theo quý</option>
                        </select>
                    </td>
                    <td>From</td>
                    <td><input type="text" id="from" name="from" style="width: 100px"></td>
                    <td>to</td>
                    <td><input type="text" id="to" name="to" style="width: 100px"></td>
                    <td><button id="report">Show chart</button></td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div class="row">
        <div class="twelve columns" id="line-chart-div" style="height: 350px;"></div>
    </div>
    <div class="row" id="statistic">
        <div class="four columns">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Mon an ban chay</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Com</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>Tra da</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>Tiep vien nu</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>Tiep vien nam</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>Ca phe</td>
                        <td>1234</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="four columns">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Mon an ban chay</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Com</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>Tra da</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>Tiep vien nu</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>Tiep vien nam</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>Ca phe</td>
                        <td>1234</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="four columns">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Mon an ban chay</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Com</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>Tra da</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>Tiep vien nu</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>Tiep vien nam</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>Ca phe</td>
                        <td>1234</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#from").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#to").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            }
        });
        
        var startdate = new Date();
        $("#from").datepicker("setDate", startdate);
        $("#to").datepicker("setDate", startdate);

        $('#reportType').multiselect({
            selectedText: "# of # selected"
        });
        
        $('#statistic table').table();

        var data = [];

        var options = {
            lines: {
                show: true
            },
            points: {
                show: true
            }
        };

        $.plot("#line-chart-div", data, options);
        
        var alreadyFetched = {};

        $('#report').button({
            icons: {
                primary: "ui-icon-document"
            }
        }).click(function () {
            var fromDate = $("#from").datepicker("getDate") == "" ? "01-01-1990" : $("#from").datepicker("getDate");
            var toDate = $("#to").datepicker("getDate") == "" ? new Date() : $("#to").datepicker("getDate");

            var report_selected = $("#reportType").multiselect("getChecked").map(function () {
                return this;
            }).get();

            data = [];
            alreadyFetched = {};
            
            var rpt;
            for (var x = 0; x < report_selected.length; x++) {
                rpt = report_selected[x];
                $.ajax({
                    type: 'POST',
                    async: false,
                    url: '@Url.Action("GetReportData")',
                    data: { spName: rpt.value, fromDate: fromDate.toJSON(), toDate: toDate.toJSON() }
                }).done(function(result) {
                    if (result.Success) {
                        var rptLine = [];
                        
                        for (var i = 0; i < result.Data.length; i++) {
                            rptLine.push([parseFloat(result.Data[i].zai), parseFloat(result.Data[i].gai)]);
                        }
                        
                        if (!alreadyFetched[rpt.value]) {
                            alreadyFetched[rpt.value] = true;
                            data.push({ label: rpt.title, data: rptLine });
                        }
                    }
                    
                    $.plot("#line-chart-div", data, options);
                });
            }
        });
    });
</script>