@media only print
{
    /*Reset Style*/
    body {
        margin:0; 
        padding:0;
        font: 10px Arial, Helvetica,"Lucida Grande", serif; 
        color: #000;
    }
    
    body > * { display: none; }

    .ajax-loader-mask {
        display: none !important;
    }

    div[aria-describedby="pdtPayment"] {
        display: block !important;
        top: 0 !important;
        left: 0 !important;
        border: none !important;
        overflow: hidden !important;
        padding: 0 !important;
        height: 100% !important;
    }

    div[aria-describedby="pdtPayment"] .ui-dialog-titlebar, #print {
        display: none;
    }

    #pdtPayment {
        padding: 0 !important;
        height: 100% !important;
    }

    #pdtPayment .row > div {
        display: none;
    }

    #pdtPayment {
        overflow: hidden !important;
    }
    #pdtPayment .payment-content {
        display: block !important;
        width: 100% !important;
        height: 100% !important;
    }

    #pdtPayment .payment-content, #pdtPayment .payment-content .leftContent{
        overflow: hidden !important;
    }

    #pdtPayment .page {
        padding: 0 !important;
        margin: 0 !important;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }

    table tr td, table tbody tr td {
        font-size: inherit !important;
    }
}

@page {
    margin: 0px;
}