header {
    border-bottom: 1px solid #ddd;
}

    header #logo {
        width: 200px;
        float: left;
    }

    header #login {
        float: right;
    }

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

#leftmenu {
    width: 13%;
    float: left;
    overflow: hidden;
}

    #leftmenu nav {
        padding-left: 15px;
    }

#leftmenuExpander {
    width: 1%;
    float: left;
}

#body {
    width: 85%;
    float: right;
    border-left: 1px solid #ddd;
}

#cashier {
    min-height: 450px;
}

#tablelist {
    bottom: 60%;
    margin-bottom: 3px;
    min-height: 135px;
}

.split-pane-divider {
    bottom: 60%;
    height: 3px;
    background: #77d5f7;
}

    .split-pane-divider:hover {
        background: #0078ae;
    }

#tableorder {
    height: 60%;
    min-height: 100px;
}

#order .col1 {
    width: 5%;
}

#order .col2 {
    width: 25%;
}

#order .col3 {
    width: 10%;
}

#order .col4 {
    width: 10%;
}

#order .col5 {
    width: 10%;
}

#order .col6 {
    width: 10%;
}

#order .col7 {
    width: 25%;
}

#order .col8 {
    width: 5%;
}

#order .remarksInput {
    width: 100%;
}

.popup {
    width: 500px;
    height: 500px;
}

#scroll_box {
	height: 180px;
	margin: 10px 0;
    overflow: auto;
}

#searchProduct .col1 {
    width: 10%;
}

#searchProduct .col2 {
    width: 50%;
}

#searchProduct .col3 {
    width: 20%;
}

#searchProduct .col4 {
    width: 10%;
}

#searchProduct .col5 {
    width: 10%;
}

.inputQty {
    width: 100%;
    text-align: right;
}

label.ui-state-error {
    display: none !important;
}