input[type="text"], input[type="password"] {
    width: 100%;
}

header {
    border-bottom: 1px solid #ddd;
}

    header #logo {
        width: 200px;
        float: left;
    }

    header #login {
        float: right;
    }

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.no-border, .no-border td {
    border: none;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

#leftmenu {
    width: 13%;
    float: left;
    overflow: hidden;
}

    #leftmenu nav {
        padding-left: 15px;
    }

#leftmenuExpander {
    width: 1%;
    float: left;
}

#body {
    width: 85%;
    float: right;
    border-left: 1px solid #ddd;
}

#cashier {
    overflow: auto;
}

    #cashier .ui-spinner-input, #searchProduct .ui-spinner-input {
        width: 50px;
    }

#area-table {
    bottom: 60%;
    margin-bottom: 3px;
    min-height: 150px;
}

.split-pane-divider {
    bottom: 60%;
    height: 3px;
    background: #77d5f7;
}

    .split-pane-divider:hover {
        background: #0078ae;
    }

#tableorder {
    height: 60%;
    min-height: 150px;
}

#order .col1 {
    width: 3%;
}

#order .col2 {
    width: 13%;
}

#order .col3 {
    width: 25%;
}

#order .col4 {
    width: 4%;
}

#order .col5 {
    width: 6%;
}

#order .col6 {
    width: 10%;
}

#order .col7 {
    width: 10%;
}

#order .col8 {
    width: 25%;
}

#order .col9 {
    width: 5%;
}

#order .remarksInput {
    width: 100%;
}

.popup {
    width: 500px;
    height: 500px;
}

#scroll_box {
	height: 180px;
	margin: 10px 0;
    overflow: auto;
}

#searchProduct .col1 {
    width: 10%;
}

#searchProduct .col2 {
    width: 50%;
}

#searchProduct .col3 {
    width: 20%;
}

#searchProduct .col4 {
    width: 10%;
}

#searchProduct .col5 {
    width: 10%;
}

.inputQty {
    width: 100%;
    text-align: right;
}

label.ui-state-error {
    display: none !important;
}

.tbContentLookup tr:hover {
    background-color: #F4CD9A;
}

.table.available {
    background-image: url(../../Images/IconControls/table-avai.png);
}

.table.not-available {
    background-image: url(../../Images/IconControls/table-empty.png);
}

.rmenu-detail {
    background-image: url(../../Images/IconControls/details-icon.png);
}

.rmenu-add {
    background-image: url(../../Images/IconControls/add-icon.png);
}

.rmenu-move {
    background-image: url(../../Images/IconControls/move-icon.png);
}

.rmenu-delete {
    background-image: url(../../Images/IconControls/delete-icon.png);
}

.Rmenu {
    position: fixed;
    display: none;
    z-index: 100;
    width:150px;
    list-style:none;
    background:white;
    border: 1px solid #7298D0;
}
.Rmenu tr td{
    position:relative;
}

.Rmenu tr td:first-child {
    padding: 2px;
    background-color: #EBFEF4;
}

.Rmenu tr td:hover {
    cursor: pointer;
}

.Rmenu tr td div {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

.RmenuItem {
    width: 126px;
    padding: 0px 0px 0px 5px;
}

.RmenuItem:hover {
    background-color: #DCDCDC;
}

.tbls {
    padding: 0px;
}

.tbls:hover {
    background-color: #F5F5F5;
}

.tbls tr td {
    padding: 0px
}

.tbls tr:first-child td:first-child {
    height: 56px;
    width: 60px;
    background-position: center;
    background-repeat: no-repeat;
}

.tbls tr td:first-child {
    text-align: center;
}

#addProduct:hover {
    cursor: pointer
}

.RmenuDisable {
    opacity: 0.3;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#68a54b;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Stylesheet for Admin */
#admin-body {
    overflow: auto;
}

.admin-record-detail .detail {
    padding: 10px;
}
.admin-record-detail td {
    padding: 0;
}
.searchTable {
    margin-bottom: 0;
}

/* Stylesheet for pagination */
.pagination {
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
}

    .pagination > li
    {
        display: inline;
    }

        .pagination > li > a, .pagination > li > span
        {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.428571429;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .pagination > li:first-child > a, .pagination > li:first-child > span
        {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
    {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #428bca;
        border-color: #428bca;
    }

.pagination-sm > li > a, .pagination-sm > li > span
{
    padding: 5px 10px;
    font-size: 12px;
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span
{
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}


.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus
{
    color: #999;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}