@charset "utf-8";
/* CSS Document */
/* Created by LamVu */

a{
	text-decoration:none;
	color:inherit;
}

#nav a{
	color:#eee;
	font-weight:bold;
	line-height:35px;
}
#nav a:hover{
	color:#fff;
}

p.section_title{
	color:#8d1632;
	font-size:120%;
	font-weight:bold;
}

#top_news a{
	font-size:90%;
	color:#888;
	font-weight:bold;
}
#top_news a:hover{
	color:#555;
	text-decoration:underline;
}
#sidebar .section .body{
	text-align:justify;
}
#sidebar table th{
	font-size:80%;
	color:#105290;
}
#sidebar table td{
	font-size:80%;
	color:#555;
	font-weight:bold;
}