@charset "utf-8";
/* CSS Document */
/* Created by LamVu */

#footer{
	text-align:center;
}
#footer:after{
	content:".";
	display:block;
	clear:both;
}
#footer_l{
	float:left;
	padding-left:50px;
}
#footer_l li, #footer_r li{
	float:left;
	font-weight:bold;
	color:#ccc;
	min-width:30px;
	cursor:default;
}

#footer_l a{
	color:#ccc;
	font-size:70%;	
}
#footer_l a:hover{
	color:#fff;
}

#footer_r{
	float:right;
	padding-right:100px;
}